name: 发布镜像

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*.*.*'

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set version
        run: |
          if [ "${{ github.event_name }}" == "workflow_dispatch" ]; then
            VERSION="latest"
          else
            VERSION="${GITHUB_REF_NAME}"
          fi
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Build and Push Docker image
        working-directory: docker
        run: |
          IMAGE_NAME=ghcr.io/${{ github.repository_owner }}/cookiecloud
          if [ "${VERSION}" = "latest" ]; then
            echo "Building image: $IMAGE_NAME:latest"
            docker build -t $IMAGE_NAME:latest .
            echo "Pushing latest image..."
            docker push $IMAGE_NAME:latest
          else
            echo "Building image: $IMAGE_NAME:${VERSION} and latest"
            docker build -t $IMAGE_NAME:${VERSION} -t $IMAGE_NAME:latest .
            echo "Pushing versioned and latest images..."
            docker push $IMAGE_NAME:${VERSION}
            docker push $IMAGE_NAME:latest
          fi
